* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

.container ul {
    display: flex;
    flex-flow: column wrap;
    width: 800px;
}


.img-perfiles {
    width: 80px;
    border-radius: 50%;
}



#hero-section {
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    height: 90vh;
    flex: 1;
}

.img-hero {
    width: 400px;
}